
.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #2c4047;
    overflow-x: hidden;
    padding-top: 60px;
  }
  .sidebar {
    max-width: 100px;
  }
  
  .sidenav .open {
    width: 575px;
    transition: 0.4s;
  }
  
  .closedIcon.closed{
    background-color: #2c4047;
    border: 0ch;
    padding-top: 1.2cm;
    
  }
  
  .closedIcon.open{
    display: none;
  }
  .sidenav .closed {
    width: 60px;
    transition: 0.4s;
  }
  
  .toggle-button {
    margin-top: 20px;
    transition-property: all;
    transition-duration: 0.4s;
    transition-delay: 0s;
    background: transparent;
    color: white;
    border: none;
  }
  .toggle-button.open {
    transform: rotate(180deg);
  }
  
  .allitems{
    display: flex;
    flex-direction: column;
  }