
  /*main*************/
  .main-info {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  }
  
  
  .add {
    display: flex;
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    max-height: fit-content;
    max-width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .remove {
    display: flex;
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    max-height: fit-content;
    max-width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }


  .actions {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .buttons {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
  /**************************/
  .product-card img {
    width: 280px;
    height: 280px;
  }
  
  .product-info {
    display: flex;
    border-top: solid 1px #e4e4e4;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  }
  
  .product-card {
    height: 380px;
  
    background: white;
    display: flex;
    flex-direction: column;
    border: solid 1px #e4e4e4;
  }
  .product-name {
   transform: translateY(-14px); 
    font-size: 15px;
    font-weight: 500;
  }
  
  .product-price {
    transform: translateY(-14px);
    font-size: 14px;
  }
  
  .product-description.closed {
    display: none;
  }

  .product-card .material-icons {
    width: 20px;
    height: 20px;
    border: solid 1px #00c385;
    color: #00c385;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  
  .product-quantity {
    width: 20px;
    height: 20px;
    display: flex;
    background: #ff9017;
    color: white;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
  
    transform: translate(50px) translateY(-35px);
  }
  
  .product-card .desc {
    padding-left: 12px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 100%;
  }